@font-face {
    font-family: 'MotionPicture';
    src: url('../fonts/motionpicture-webfont.eot');
    src: url('../fonts/motionpicture-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/motionpicture-webfont.woff') format('woff'),
         url('../fonts/motionpicture-webfont.ttf') format('truetype'),
         url('../fonts/motionpicture-webfont.svg#motion_picture_personal_useRg') format('svg');
    font-weight: normal;
    font-style: normal;
}